.table-striped > tbody > tr:nth-child(2n+2) > td, .table-striped > tbody > tr:nth-child(2n+2) > th {
    background-color: #62d4ff21;
}
/*.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background: #62d4ff21;
    background: -webkit-linear-gradient(#62d4ff1a,#62d4ff5e);
    background: -o-linear-gradient(#62d4ff1a,#62d4ff5e);
    background: -moz-linear-gradient(#62d4ff1a,#62d4ff5e);
    background: linear-gradient(#62d4ff1a,#62d4ff5e);
}*/
.table-striped > thead th {
    background-color: #489bcc;
    color: white;
}

.table-striped > tbody td {
    background-color: white;
}
